[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fiveohmike
[access "refs/for/refs/*"]
	read = group user/fiveohmike
	push = group user/fiveohmike
	label-Code-Review = -2..+2 group user/fiveohmike
	label-Verified = -1..+1 group user/fiveohmike
	rebase = group user/fiveohmike
	removeReviewer = group user/fiveohmike
	submit = group user/fiveohmike
[access "refs/heads/*"]
	read = group user/fiveohmike
	create = group user/fiveohmike
	push = +force group user/fiveohmike
	pushMerge = group user/fiveohmike
[access "refs/tags/*"]
	push = +force group user/fiveohmike
	pushTag = group user/fiveohmike
	pushSignedTag = group user/fiveohmike
